.keys{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-weight: bold;
}

.keyboard{
    margin-top: 20px;
    width: 800px;
    
}

.keys:nth-child(14)
{
    width: 150px;
}

.keys:nth-child(15)
{
    width: 100px;
}

.keys:nth-child(30)
{
    width: 100px;
}

.keys:nth-child(42)
{
    width: 150px;
}

.keys:nth-child(43)
{
    width: 150px;
}

.keys:nth-child(55)
{
    width: 100px;
}

.keys:nth-child(56)
{
    width: 60px;
}

.keys:nth-child(57)
{
    width: 60px;
}

.keys:nth-child(58)
{
    width: 60px;
}

.keys:nth-child(59)
{
    width: 370px;
}
